.matrixBackground {
  position: relative;
  z-index: 0; /* Ensure this is behind game content but above the base container background */
  /* Matrix animation CSS here */
}

.matrixCanvas,
.matrixCanvasOverlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: transparent;
  height: calc(
    100vh - 80px
  ); /* Full viewport height minus the header height */
  overflow-y: auto; /* Enable vertical scrolling within the container */
  width: 100%;
}

.title {
  font-size: 32px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: transparent; /* Making specific elements' backgrounds transparent */
  height: calc(100vh - 120px);
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
  border: 2px solid white; /* Adds a white border around the canvas */
  border-radius: 8px;
  backdrop-filter: blur(10px); /* Apply the blur effect */
}

.inputBoxes {
  display: flex;
  gap: 10px;
}

.letterInput {
  width: 60px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: var(--button-hover-light);
}

.restartButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.restartButton:hover {
  background-color: var(--button-hover-light);
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.guess {
  display: flex;
  gap: 5px;
}

.green,
.yellow,
.gray,
.red {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 32px;
  border-radius: 5px;
}

.red {
  background-color: #ff6961; /* A light red background */
  /* Other styling similar to .green, .yellow, .gray */
}

.green {
  background-color: #96f300; /* Example green, adjust as needed */
  color: black;
}

.yellow {
  background-color: #f9f937; /* Example yellow, adjust as needed */
  color: black;
}

.gray {
  background-color: #d3d3d3; /* Example gray, adjust as needed */
}

@media (max-width: 650px) {
  .game {
    width: 90%; /* Increase width on mobile devices */
    /* Optionally, adjust padding, gap, or other properties for better mobile presentation */
  }
}
