.container {
  background-color: var(--secondary-color);
  padding: 112px 24px 120px;
  min-height: 100vh;
  box-sizing: border-box;
}

.editProfileContainer {
  flex-direction: column;
  padding: 30px;
  background-color: var(--card-color-light);
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
  backdrop-filter: blur(10px);
}

.formGroup {
  margin-bottom: 20px;
}

.buttonContainer {
  margin-top: 16px;
}

.sectionTitle {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top:5px;
  padding-bottom: 5px;
  z-index: 6;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color-light);
}

.input,
.input[disabled] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--card-color-light);
  color: var(--text-color-light);
  border-radius: 60px;
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
}

.input[disabled] {
  background-color: #ccc;
  color: #777;
}

.phoneInputContainer {
  display: flex;
  gap: 4px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color-light);
}

.phoneInput {
  flex: 1 0 auto;
  max-width: 80px;
  padding: 8px;
  margin-right: 4px;
  background-color: var(--card-color-light);
  border-radius: 60px;
  color: var(--text-color-light);
  text-align: center;
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
  margin-right: 4px;
}

.nameWithVerification {
  color: var(--text-color-light);
}

.submitButton {
  width: 100%;
  color: var(--text-color-light);
  padding: 0.9em 1em;
  font-size: 18px;
  border-radius: 60px;
  background: var(--button-color-light);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2);
  border: none;
}

.submitButton:hover {
  background: var(--card-hover-light);
  box-shadow: 4px 4px 6px var(--card-shadow), -4px -4px 6px var(--card-shadow-2);
}

.submitButton:active {
  background: var(--card-hover-light);
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
}

.disclaimer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: var(--text-color-light);
  padding-bottom: 5px;
}

.card {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--card-color-light);
  border-radius: 10px;
  border: 1px solid var(--text-color-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, width 0.3s ease;
  max-width: 97.5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--card-hover-light);
}

@media (max-width: 600px) {
  .phoneInputContainer {
    gap: 4px;
  }

  .phoneInput {
    padding-right: 10px;
  }
}
