.editProfileContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input,
  .input[disabled] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--card-color-light);
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    color: var(--text-color-light);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input[disabled] {
    background-color: #ccc; /* Light grey to indicate the field is not editable */
    color: #777; /* Darker grey for contrast */
  }
  
  .verificationStatus {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .submitButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color-light);
    color: var(--text-color-dark);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: var(--button-hover-light);
  }
  
  .disclaimer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: var(--text-color-light);
  }
  
  /* Reusing existing styles for consistency */
  .card {
    margin: 10px 0;
    padding: 20px;
    background-color: var(--card-color-light);
    border-radius: 10px;
    border: 1px solid var(--text-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: var(--text-color-light);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, width 0.3s ease;
    max-width: 97.5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--card-hover-light);
  }
  