.container {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 20px);
    background-color: var(--secondary-color);
    z-index: 10000;
  }
 