/* contact.module.css */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--secondary-color);
  height: calc(100vh + 100px);
  padding-top: 100px;
  overflow-y:auto;
}

.sectionTitle {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom:10px;
  z-index: 2;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  z-index: 2;
}

.card {
  margin: 10px 0;
  padding: 30px;
  background-color: var(--card-color-light);
  border-radius: 60px;
  box-shadow: 10px 10px 30px var(--card-shadow),
  -10px -10px 30px var(--card-shadow); 
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, width 0.3s ease;
  max-width: 97.5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.card:hover {
  transform: scale(1.03);
  background-color: var(--card-hover-light);
  z-index: 2;
}

.card a {
  color: var(--text-color-light); /* Choose a color that fits your theme */
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.subtext {
  font-size: 0.8rem; /* Example size, adjust as necessary */
  color: var(--text-color-light);
  display: block; /* To ensure it starts on a new line */
}

.svgAndTextContainer {
  display: flex;
  align-items: center; /* Vertical alignment */
  gap: 10px; /* Spacing between the SVG and the text */
}

.svgContainer {
  flex-shrink: 0; /* Prevent the SVG from shrinking */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-bottom: 20px;
}

.downloadButton {
  color: var(--text-color-light);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 25px;
  background: var(--button-color-light);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px var(--card-shadow), -6px -6px 12px var(--card-shadow);
}

.downloadButton:active {
  color: var(--text-color-light);
  box-shadow: inset 4px 4px 12px var(--card-shadow), inset -4px -4px 12px var(--card-shadow);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
  }
}
