/* contact.module.css */
.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--secondary-color);
  z-index: 10000;
  height: 100%;
}

.apple {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url('/apple.png'); /* Make sure to have an apple image in your public directory */
  background-size: cover;
  cursor: pointer;
  animation: float 25s infinite ease-in-out, infinite ease-in-out, spin 5s infinite linear;
  z-index: 1;
}

@keyframes float {
  0%, 100% {
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  17% {
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%) rotate(15deg);
  }
  34% {
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(30deg);
  }
  51% {
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  68% {
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%) rotate(-30deg);
  }
  85% {
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(15deg);
  }
}


@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sectionTitle {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.card {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--card-color-light);
  border-radius: 10px;
  border: 1px solid var(--text-color-light);;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, width 0.3s ease;
  max-width: 97.5%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--card-hover-light);
  z-index: 2;
}

.card a {
  color: var(--text-color-light); /* Choose a color that fits your theme */
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.subtext {
  font-size: 0.8rem; /* Example size, adjust as necessary */
  color: var(--text-color-light);
  display: block; /* To ensure it starts on a new line */
}


.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  z-index: 2;
}

.downloadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: var(--button-hover-light);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 120px 20px 20px;
  }

  .section {
    flex-direction: column;
  }
}
