.matrixBackground {
    position: relative;
    z-index: 0; /* Ensure this is behind game content but above the base container background */
    /* Matrix animation CSS here */
  }
  
  .matrixCanvas,
  .matrixCanvasOverlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling within the container */
    width: 100%;
    z-index: 2;
    width: 100%;
    height: calc(100vh + 80px);
    overflow-y: auto; /* Consider if this is necessary, or adjust as needed */
    background-color: transparent;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  
  .title {
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: bold;
    /* Ensure this is visible on top of the game */
  }

  .gameCanvasContainer {
    position: relative;
  }
  
  .centeredControls, .centeredMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .Button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color-light);
    color: var(--text-color-light);
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:5px;
  }
  
  .Button:hover {
    background-color: var(--button-hover-light);
  }
  

  .scoreContainer {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
  }
  
  .score {
    font-size: 20px;
  }
  

  .gameCanvas {
    width: 100%; /* Fill the container width */
    height: auto; /* Adjusted to fill available container height */
    background-color: #0000007b; /* Background for visibility */
    border: 2px solid white; /* Adds a white border around the canvas */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* Apply the blur effect */
    box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
    object-fit: contain; /* Ensures the content is scaled properly within the container */
  }
  
  
  @media (max-width: 768px) {
    .container {
      padding-bottom: 140px;
    }
  }
  
  