@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #001233;
  --secondary-color: #B6CCFE;
  --third-color: #ABC4FF;
  --text-color-light: #03071E;
  --text-color-dark: #ffffff;
  --button-color-light: #D7E3FC;
  --button-hover-light: #EDF2FB;
  --card-color-light: #c0c9df;
  --card-hover-light: #E2EAFC;
}

[data-theme='dark'] {
  --primary-color: #001233;
  --secondary-color: #002c7c;
  --third-color: #074081ec;
  --text-color-light: #c6d6f6;
  --text-color-dark: #d4d7dd;
  --button-color-light: #0353A4;
  --button-hover-light: #0466C8;
  --card-color-light: #1563b6;
  --card-hover-light: #33415C;
}

body {
  height: 100dvh;
  background-color: #E6E8E6;
  color: white;
  margin: 0; 
  backdrop-filter: blur(5px);
  font-family: 'Roboto', sans-serif;
}
