@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #212529;
  --secondary-color: #ededed;
  --third-color: #e1e3e5;
  --text-color-light: #343a40;
  --text-color-dark: #fcfcfc;
  --button-color-light: #eeeeee;
  --button-hover-light: #8d9398;
  --card-color-light: #eeeeee;
  --card-hover-light: #dfdfdf;
  --card-shadow: #bebebe;
  --card-shadow-2: #ffffff;
  --footer-color: #2c3035;
}

[data-theme="dark"] {
  --primary-color: #0f0f0f;
  --secondary-color: #1b1b1b;
  --third-color: #2b2b2b;
  --text-color-light: #ffffff;
  --text-color-dark: #ffffff;
  --button-color-light: #484848;
  --button-hover-light: #5d5d5d;
  --card-color-light: #262626;
  --card-hover-light: #787d81;
  --card-shadow: #191919;
  --card-shadow-2: #363636;
  --footer-color: #151515;
}

body {
  height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  margin: 0;
  backdrop-filter: blur(5px);
  font-family: var(--font-manrope), sans-serif !important;
}
