@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #001233;
  --secondary-color: #b6ccfe;
  --third-color: #abc4ffeb;
  --text-color-light: #03071e;
  --text-color-dark: #ffffff;
  --button-color-light: #d7e3fc;
  --button-hover-light: #edf2fb;
  --card-color-light: #c0c9df;
  --card-hover-light: #e2eafc;
  --footer-color: #3a3f68;
}

[data-theme="dark"] {
  --primary-color: #001233;
  --secondary-color: #002c7c;
  --third-color: #074081ec;
  --text-color-light: #c6d6f6;
  --text-color-dark: #d4d7dd;
  --button-color-light: #0353a4;
  --button-hover-light: #0466c8;
  --card-color-light: #1563b6;
  --card-hover-light: #33415c;
  --footer-color: #131a50;
}

body {
  height: 100dvh;
  background-color: #e6e8e6;
  color: white;
  margin: 0;
  backdrop-filter: blur(5px);
  font-family: "Roboto", sans-serif;
}
