@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Fira+Code:wght@300..700&family=Lexend:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #212529;
  --secondary-color: #e1e3e5;
  --third-color: #ededed;
  --text-color-light: #343a40;
  --text-color-dark: #fcfcfc;
  --button-color-light: #eeeeee;
  --button-hover-light: #8d9398;
  --card-color-light: #eeeeee;
  --card-hover-light: #dfdfdf;
  --card-shadow: #bebebe;
  --card-shadow-2: #ffffff;
  --footer-color: #2c3035;
}

[data-theme="dark"] {
  --primary-color: #212529;
  --secondary-color: #4c5155;
  --third-color: #596066;
  --text-color-light: #ffffff;
  --text-color-dark: #ffffff;
  --button-color-light: #6c757d;
  --button-hover-light: #8d9398;
  --card-color-light: #4c5257;
  --card-hover-light: #787d81;
  --card-shadow: #6a7075;
  --card-shadow-2: #797979;
  --footer-color: #2c3035;
}

body {
  height: 100dvh;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  margin: 0;
  backdrop-filter: blur(5px);
  font-family: "Manrope", sans-serif !important;
}