.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  height: calc(100vh + 100px);
  overflow-y: auto;
  padding-top: 100px;
}

.logoContainer {
  position: relative;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcomeMessage {
  font-size: 2rem;
  padding-top: 10px;
  color: var(--text-color-light);
  z-index: 4;
}

.instructions {
  font-size: 1.5rem;
  color: var(--text-color-light);
  z-index: 4;
}

.infoContainer {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--card-color-light);
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, width 0.3s ease; /* Added width to the transition */
  max-width: 97.5%;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  box-shadow: 20px 20px 60px var(--card-shadow),
  -20px -20px 60px var(--card-shadow);
  z-index: 3;
}

.carouselItem {
  max-width: 600px;
  margin-top: 20px;
  box-shadow: 20px 20px 30px var(--card-shadow),
  -20px -20px 30px var(--card-shadow);
  margin-bottom: 20px;
  border-radius: 40px;
  overflow:hidden;
  z-index: 4;
}

.terminalcontainer {
  right: 20px;
  bottom: 70px; /* Distance from the viewport bottom. Adjust based on the chat button's height and desired gap */
  max-height: 30vh; /* Adjust based on your preference */
  width: 400px; /* Adjust as necessary */
  z-index: 1100;
}

.chatbotbutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above most content */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--button-color-light);
  border: 1px solid black;
  color: var(--text-color-light);
  cursor: pointer;
  z-index: 8;
}

.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #212121;
  justify-content: space-between;
  z-index: 8;
}

.butt {
  display: flex;
  align-items: center;
  z-index: 8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
  z-index: 8;
}

.btn-color {
  background: #ee411a;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.butt--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.add_tab {
  border: 1px solid #fff;
  color: #fff;
  padding: 0 6px;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  cursor: pointer;
  z-index: 8;
}

.user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
  z-index: 8;
}

.terminal_body {
  background: rgba(0, 0, 0, 0.6);
  height: 250px;
  width: 400px;
  backdrop-filter: blur(10px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

.terminal_prompt {
  display: flex;
  align-items: center;
  padding: 4px;
  z-index: 8;
  color: var(--text-color-dark);
}

.terminal_prompt span {
  margin-left: 4px;
}

.terminal_user {
  color: #1eff8e;
  z-index: 8;
}

.terminal_location {
  color: #4878c0;
  z-index: 8;
}

.terminal_bling {
  color: #dddddd;
  z-index: 8;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
  z-index: 8;
}

.terminal_output {
  padding: 4px;
  flex-grow: 1;
  overflow-y: auto; /* Keeps vertical scrolling for overflow */
  z-index: 8;
}

.output_text {
  margin: 0;
  z-index: 8;
  color: var(--text-color-dark);
  word-wrap: break-word; /* Ensures words break to prevent horizontal overflow */
  white-space: pre-wrap; /* Maintains formatting but wraps text */
}

.terminal_input {
  padding: 4px;
  z-index: 8;
}

.input_text {
  width: 100%;
  padding: 6px;
  background: transparent;
  border: none;
  color: #e6e6e6;
  caret-color: #1eff8e;
  z-index: 8;
}

@keyframes curbl {
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
}

@media (max-width: 768px) {
  .logoContainer {
    height: 120px; /* Adjust height as necessary */
  }

  .logoContainer img {
    max-width: 100% !important;
    max-height: 100% !important;
  }

  .layoutContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
  }

  .carouselItem {
    width: 85vw; /* Adjust the width to be less than the viewport width */
  }

  .homeContainer, .welcomeMessage, .instructions {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }
}

