@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Fira+Code:wght@300..700&family=Lexend:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  height: auto;
  overflow-x: hidden;
  padding-top: 100px;
}

.secondarySection {
  display: flex;
  justify-content: center;
  background-color: var(--third-color);
  padding: 20px;
  flex-wrap: wrap;
  overflow-y: hidden; /* No internal scroll */
}

.logoContainer {
  position: relative !important;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcomeMessage {
  font-size: 2rem;
  padding-top: 10px;
  color: var(--text-color-light);
  z-index: 4;
}

.instructions {
  font-size: 1.5rem;
  color: var(--text-color-light);
  z-index: 4;
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space between cards */
  flex: 1 1 48%;  /* Controls the width */
  max-width: 48%;
  padding: 20px;
  height: 100%;  /* Ensure columns stretch to match the height of the section */
}

.card {
  background-color: var(--card-color-light);
  color: var(--text-color-light);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 60px;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
  flex-grow: 1;  /* Allows each card to grow and fill the space */
  display: flex;
  flex-direction: column;
}


.skill {
  margin-bottom: 10px;
}

.skillSectionTitle {
  color: var(--text-color-light);
  font-size: 20px;
  margin-bottom: 10px;
}

.skillName {
  font-size: 16px;
  color: var(--text-color-light);
  margin-bottom: 4px;
  display: inline-block;
  vertical-align: middle;
  flex-grow: 1; 
}

.skillBar {
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  flex-grow: 1; 
  margin-right: 10px;
}

.skillLevel {
  background-color: #4caf50; 
  height: 20px;
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
}

.skillLevelInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2; 
  padding-bottom:6px;
}

.skillLevelLabel {
  font-size: 0.75em;
  color: var(--text-color-light);
  white-space: nowrap;
  font-style: italic; 
  align-self: flex-end; 
  padding-left: 10px; 
}

.downloadResumeButton {
  color: var(--text-color-light);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 25px;
  background: var(--button-color-light);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
}

.downloadResumeButton:hover {
  background: var(--card-hover-light);
  box-shadow: 4px 4px 5px var(--card-shadow), -4px -4px 5px var(--card-shadow-2); 
}

.downloadResumeButton:active {
  color: var(--text-color-light);
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Center the buttons in the container */
  align-items: center;
  gap: 20px; /* Creates a 20px gap between each button */
  padding: 20px 0; /* Add some vertical padding */
}

.button {
  color: var(--text-color-light);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 25px;
  background: var(--button-color-light);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2);
}

.button:hover {
  background: var(--card-hover-light);
  box-shadow: 4px 4px 5px var(--card-shadow), -4px -4px 5px var(--card-shadow-2);
}

.button:active {
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
}

.buttonText {
  display: block; /* Ensures text takes up the full width */
}

.infoContainer {
  margin: 10px 0;
  padding: 20px;
  background-color: var(--card-color-light);
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, width 0.3s ease; /* Added width to the transition */
  max-width: 800px;
  border-radius: 60px;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
  z-index: 3;
}

.infoContainerText {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.carouselItem {
  max-width: 800px;
  margin-top: 20px;
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
  margin-bottom: 20px;
  border-radius: 60px;
  overflow:hidden;
  z-index: 1;
}

.terminalcontainer {
  right: 20px;
  bottom: 70px; /* Distance from the viewport bottom. Adjust based on the chat button's height and desired gap */
  max-height: 30vh; /* Adjust based on your preference */
  width: 400px; /* Adjust as necessary */
  z-index: 1100;
  font-family: "Fira Code", monospace !important;
}

.chatbotbutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above most content */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2); 
  cursor: pointer;
  z-index: 6;
}

.chatbotbutton:hover {
  transform: scale(1.03);
  background-color: var(--card-hover-light);
  box-shadow: 4px 4px 5px var(--card-shadow), -4px -4px 5px var(--card-shadow-2); 
  z-index: 6;
}

.chatbotbutton:active {
  color: var(--text-color-light);
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
  z-index: 6;
}

.terminal_toolbar {
  display: flex;
  position: relative;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #212121;
  justify-content: space-between;
  z-index: 8;
}

.close_button {
  display: flex;
  align-items: center;
  z-index: 8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403a, 0px 1px 1px 0px #474642;
  z-index: 8;
}

.btn-color {
  background: #ee411a;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.butt--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.add_tab {
  border: 1px solid #fff;
  color: #fff;
  padding: 0 6px;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  cursor: pointer;
  z-index: 8;
}

.user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
  z-index: 8;
}

.terminal_body {
  background: rgba(0, 0, 0, 0.6);
  height: 250px;
  width: 400px;
  backdrop-filter: blur(30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 8;
  overflow-y: auto; /* Add scroll to the terminal body */
}

.terminal_prompt {
  display: flex;
  align-items: flex-start; /* Align prompt content to the top */
  padding: 4px;
  z-index: 8;
  color: var(--text-color-dark);
}

.terminal_prompt span {
  margin-left: 4px;
}

.terminal_user {
  color: #1eff8e;
  z-index: 8;
}

.terminal_location {
  color: #4878c0;
  z-index: 8;
}

.terminal_bling {
  color: #dddddd;
  z-index: 8;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
  z-index: 8;
}

.terminal_output {
  padding: 4px;
  flex-grow: 1;
  z-index: 8;
}

.output_text {
  margin: 0;
  z-index: 8;
  color: var(--text-color-dark);
  word-wrap: break-word; /* Ensures words break to prevent horizontal overflow */
  white-space: pre-wrap; /* Maintains formatting but wraps text */
}

.terminal_input {
  padding: 4px;
  z-index: 8;
}

.input_text {
  width: 100%;
  padding: 6px;
  background: transparent;
  border: none;
  color: #e6e6e6;
  caret-color: #ffffff;
  z-index: 8;
}

.textLoopContainer {
  font-size: 2rem; /* Larger font size for better visibility */
  color: var(--text-color-light);
  text-align: center;
  margin: 20px 0;
  transition: opacity 0.5s ease-in-out; /* Smooth transition for text changes */
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.textLoopItem {
  animation: fadeInOut 3s linear infinite; /* Fade in and out effect */
}

@keyframes curbl {
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
}

@media (max-width: 768px) {
  .secondarySection {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .leftColumn, .rightColumn {
    flex: 1 1 100%; /* Takes full width */
    max-width: 100%; /* Maximizes width for mobile */
    padding: 10px;
    order: 0; /* Ensures left column is on top if needed */
  }

  .card {
    margin: 10px 0; /* Adjust vertical spacing for cards */
    width: 100%; /* Full width cards on mobile */
    flex-grow: 0; /* Disables flex-grow to maintain content-based height */
  }
  
  .logoContainer {
    height: 160px; /* Adjust height as necessary */
  }

  .welcomeMessage, .textLoopContainer h2 {
    font-size: 1.25rem; /* Reduce font size for the title */
  }

  .logoContainer img {
    max-width: 100% !important;
    max-height: 100% !important;
  }

  .layoutContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    width: 85vw; /* Adjust the width to be less than the viewport width */
  }

  .carouselItem {
    width: 85vw; /* Adjust the width to be less than the viewport width */
  }

  .homeContainer, .welcomeMessage, .instructions {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }

  .button {
    padding: 0.5em 1em; /* Reduce padding to decrease button size */
    font-size: 0.9rem; /* Optionally reduce font size */
  }

  .buttonContainer {
    gap: 10px; /* Reduce the gap between buttons */
  }
}


