.matrixBackground {
  position: relative;
  z-index: 0; /* Ensure this is behind game content but above the base container background */
  /* Matrix animation CSS here */
}

.matrixCanvas,
.matrixCanvasOverlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling within the container */
  width: 100%;
  z-index: 2;
  width: 100%;
  height: calc(100vh + 80px);
  overflow-y: auto; /* Consider if this is necessary, or adjust as needed */
  background-color: transparent;
  padding-top: 80px;
  padding-bottom: 10px;

}

.title {
  font-size: 32px;
  text-align: center;
  color: white;
  font-weight: bold;
  /* Ensure this is visible on top of the game */
}

.aspectRatioBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw; /* Or your preferred width */
  height: 80vh;
  aspect-ratio: 1; /* Adjust based on your game's desired aspect ratio, 1 for square */
}

.gameCanvas {
  width: 100%; /* Fill the container width */
  height: auto; /* Adjusted to fill available container height */
  background-color: #0000007b; /* Background for visibility */
  border: 2px solid white; /* Adds a white border around the canvas */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* Apply the blur effect */
  box-sizing: border-box; /* Ensures the border is included in the element's total width and height */
  object-fit: contain; /* Ensures the content is scaled properly within the container */
}

.gameOverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 10; /* Ensure it's above all other content */
}

.gameOverMessage {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.score {
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 3; 
  margin-bottom: 10px;
}

.restartButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top:10px;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 140px;
  }
  .gameCanvas {
    height: auto;
    max-height: calc(80vh); 
    max-width: calc(80vw);
  }
  .aspectRatioBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw; /* Or your preferred width */
    height: 80vh;
    aspect-ratio: 1; /* Adjust based on your game's desired aspect ratio, 1 for square */
  }
}

