.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: transparent;
    overflow-y: auto; /* Enable vertical scrolling within the container */
    width: 100%;
    z-index: 2;
    top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 32px;
    text-align: center;
    color: white;
    font-weight: bold;
    /* Ensure this is visible on top of the game */
  }
  
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw; /* Adjusting for the header and footer */
    min-width: 100%;
    min-height: 100%;
    background-color: #000; /* Optional: Sets the background color */
    margin: auto;
  }
  
  .gameCanvas {
    width: 100%; /* Fill the container width */
    height: 100%; /* Adjusted to fill available container height */
    background-color: #000; /* Background for visibility */
  }
  