.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling within the container */
  width: 100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Consider if this is necessary, or adjust as needed */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  overflow-y: auto; /* Enable vertical scrolling within the container */
  width: 100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Consider if this is necessary, or adjust as needed */
}

.title {
  padding-top: 10px;
  font-size: 32px;
  text-align: center;
  color: black;
  font-weight: bold;
  /* Ensure this is visible on top of the game */
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Adjusting for the header and footer */
  background-color: transparent; /* Optional: Sets the background color */
  margin: auto;
}

.gameCanvas {
  width: 80vw; /* Fill the container width */
  height: 80vh; /* Adjusted to fill available container height */
  background-color: #000000e1; /* Background for visibility */
}

.score {
  text-align: center;
  color: black;
  font-size: 20px;
  z-index: 3; 
}

@media (max-width: 768px) {
  .gameCanvas {
    height: auto;
    max-height: calc(80vh); 
    max-width: calc(80vw);
  }
  .game {
    background-color: transparent;
    padding-bottom: 120px;
  }
}

