.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--footer-color);
  color: var(--text-color-dark);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.footer-content,
.build-info,
.unique-visitors {
  margin-bottom: 10px;
}

.wordleButton {
  padding: 10px 20px;
  background-color: var(--button-color-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.wordleButton:hover {
  padding: 10px 20px;
  background-color: var(--button-hover-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.snakeButton {
  padding: 10px 20px;
  background-color: var(--button-color-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 2px;
  color: var(--text-color-light);
}

.snakeButton:hover {
  padding: 10px 20px;
  background-color: var(--button-hover-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pongButton {
  padding: 10px 20px;
  background-color: var(--button-color-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;
  color: var(--text-color-light);
}

.pongButton:hover {
  padding: 10px 20px;
  background-color: var(--button-hover-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.links {
  color: var(--text-color-light); 
  text-decoration: none; 
}

.copyright-info {
  font-size: 0.75rem;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;
    font-size: 0.9rem;
  }
}
