.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--footer-color);
  color: var(--text-color-dark);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.aboutButton {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--button-color-light); 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 5px;
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2);
}

.aboutButton:hover {
  background: var(--card-hover-light);
  box-shadow: inset 4px 4px 4px var(--card-shadow), inset -4px -4px 4px var(--card-shadow-2);
}

.aboutButton:active {
  background: var(--card-hover-light);
  box-shadow: inset 2px 2px 2px var(--card-shadow), inset -2px -2px 2px var(--card-shadow-2);
}

.socialButtonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust space between buttons */
  margin-bottom: 10px; /* Space between these buttons and the 'About Website' button */
}

.socialButton {
  display: inline-block;
  width: 40px; /* Size of the buttons */
  height: 40px; /* Size of the buttons */
  border-radius: 50%; /* Makes the buttons circular */
  overflow: hidden;
  background-color: var(--button-color-light); /* Background color, adjust as needed */
  color: var(--text-color-light);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  transition: transform 0.3s ease-in-out;
}

.socialButton img {
  width: 100%;
  height: auto;
}

.socialButton:hover {
  transform: scale(1.1); /* Slightly enlarge buttons on hover */
}

.links {
  color: var(--text-color-light); 
  text-decoration: none; 
}

.copyright-info {
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;
    font-size: 0.8rem;
  }
}
