.header {
  height: 80px;
  width: 100vw;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  padding-left: 80px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.modalContent {
  background-color: var(--card-color-light);
  color: var(--text-color-light);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  z-index: 100;
}

.formButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: var(--card-hover-light);
}

.submitButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton {
  background-color: var(--button-color-light);
  color: var(--text-color-light);
}

.cancelButton {
  background-color: #f44336;
  color: var(--text-color-light);
}

.submitButton:hover,
.cancelButton:hover {
  opacity: 0.9;
}

.dropdownContent {
  background-color: var(--third-color);
  color: var(--text-color-light);
  border-radius: 20px;
}

.iconButton {
  position: relative; /* Add this line to your existing .iconButton styles */
  border-radius: 50%; /* Makes the button's border circular */
  background-color: var(--third-color);
  color: var(--text-color-light);
  margin-left: 20px; /* Adjust the space between profile image and mode toggle */
}

.iconButton img {
  width: 55px; /* Increase width as needed */
  height: 55px; /* Increase height as needed */
}

.profileAndToggleContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Adjust as needed */
}

@keyframes glintEffect {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.glintButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.8), transparent);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  animation: glintEffect 2s infinite;
  border-radius: 50%;
}


@media (max-width: 600px) {
  .header h2 {
    white-space: nowrap;
    font-size: 1.5rem;
  }
}
