.header {
  height: 80px;
  width: 100vw;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  padding-left: 95px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.dropdownContent {
  background-color: var(--third-color);
  color: var(--text-color-light);
  border-radius: 8px;
  border-color: var(--text-color-light)
}

.iconButton {
  border-radius: 50%; /* Makes the button's border circular */
  border: 1px solid var(--border-color, #ccc); /* Optional: Adjust the border color */
  background-color: var(--third-color);
  color: var(--text-color-light);
}

.iconButton img {
  width: 55px; /* Increase width as needed */
  height: 55px; /* Increase height as needed */
}


@media (max-width: 600px) {
  .header h2 {
    white-space: nowrap;
    font-size: 1.5rem;
  }
}
