.sheetContainer {
  background-color: var(--third-color);
  z-index: 999;
  border-radius: 30px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
  max-height: calc(100%); 
  overflow-y: auto;
  color: var(--text-color-light);
}

.logo {
  z-index: 10;
  margin-left: 20px;
  margin-top: 20px;
  position: fixed;
  top: 0;
  color: var(--text-color-dark);
}

.link {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 10px 0; 
  border-radius: 60px; 
  background-color: var(--card-color-light); 
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; 
  text-decoration: none; 
  height: 50px; 
  box-shadow: 6px 6px 8px var(--card-shadow), -6px -6px 8px var(--card-shadow-2) !important; 
  border: transparent;
}

.linkDisabled {
  background-color: #ccc; /* Greyed-out background */
  color: #666; /* Darker text color for disabled state */
  pointer-events: none; /* Prevents clicking on the button */
  opacity: 0.5; /* Make the button look disabled */
}

.linkText {
  display: block; /* Ensures text takes up the full width */
}

.currentLink {
  transform: scale(1.05); 
  background-color: var(--card-hover-light); 
}

.links {
  padding: 10px 20px; 
  color: inherit; 
  text-decoration: none; 
  width: 100%; 
}

.link:hover {
  background-color: var(--card-hover-light); 
  box-shadow: 4px 4px 5px var(--card-shadow), -4px -4px 5px var(--card-shadow-2) !important; 
}

.link:active {
  color: var(--text-color-light);
  box-shadow: inset 4px 4px 5px var(--card-shadow), inset -4px -4px 5px var(--card-shadow-2) !important;
}
