.container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--secondary-color);
  z-index: 1;
  min-height: 100vh;
}

.sectionTitle {
  max-width: 80%;
  margin: 0 auto;
  color: var(--text-color-light);
  font-size: 24px;
  font-weight: bold;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards in the section */
  margin-bottom: 40px;
  gap: 20px; /* Adds space between cards */
}

.card {
  margin: 10px;
  padding: 20px;
  background-color: var(--card-color-light);
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: var(--text-color-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  width: calc(50% - 40px); /* Adjust width to fit two cards per row, accounting for margin */
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--card-hover-light);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.addButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color-light);
  color: var(--text-color-light);
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: var(--button-hover-light);
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.modalContent {
  background-color: var(--card-color-light);
  color: var(--text-color-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.formButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--card-hover-light);
}

.submitButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton {
  background-color: var(--button-color-light);
  color: var(--text-color-light);
}

.cancelButton {
  background-color: #f44336;
  color: var(--text-color-light);
}

.submitButton:hover,
.cancelButton:hover {
  opacity: 0.9;
}

.userImage {
  float: left;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Circular image */
  margin-right: 15px; /* Space between image and text */
  z-index: 1000;
}

.timeText {
  font-style: italic;
  font-size: 0.75em;
}

@media (max-width: 600px) {
  .card {
    width: 100%; /* Makes each card take full width on smaller screens */
  }

  .modalContent {
    width: calc(100% - 40px);
    margin: 20px;
    box-sizing: border-box;
  }

  .formButtons button {
    width: 48%;
  }
}
